/* Container styling */
.wallet-create-top-margin {
    margin-top: 50px;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wallet-create-content {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

/* Button styling */
.primary-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;
}

.primary-button:hover {
    background-color: #40a9ff;
}

.create-wallet-button {
    margin-top: 20px;
    padding: 12px 0;
    border-radius: 8px;
}

/* Restore wallet text styling */
.wallet-create-restore-wallet {
    display: block;
    margin-top: 15px;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s;
}

.wallet-create-restore-wallet:hover {
    color: #40a9ff;
    text-decoration: underline;
}

/* Responsive styling */
@media (max-width: 500px) {
    .wallet-create-content {
        padding: 20px;
        width: 90%;
    }
}
