.no-wallet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
}

.no-wallet-icon {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.no-wallet-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.no-wallet-text {
    color: var(--primary-color);
    margin-top: 0.5rem;
}

.no-wallet-button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    background: var(--background-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}