.no-wallet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
}

.no-wallet-icon {
    font-size: 3rem;
    color: red;
    margin-bottom: 1rem;
}

.no-wallet-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.no-wallet-text {
    color: gray;
    margin-top: 0.5rem;
}

.no-wallet-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background: var(--primary-color);
    color: rgb(13, 141, 24);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}