/* navbar.css */

.navbar-header {
  background: #ffffff;
  padding: 0 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 120px;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo-img {
  width: 100px;
  height: auto;
}

.navbar-title {
  color: rgb(217, 102, 8);
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.navbar-menu-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 20px;
}

.navbar-menu-container button {
  background: transparent;
  border: none;
  color: orange;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar-menu-container button:hover {
  color: #ffa500;
}

.navbar-menu-container a {
  text-decoration: none;
  color: inherit;
}

.navbar-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.theme-switcher {
  background: #333;
  border-radius: 15px;
  padding: 5px;
}

.theme-switcher {
 scale: 1.2;
 width: 70px;
}


.status-tag {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: bold;
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.status-dot-connected {
  background: green;
}

.status-dot-not-connected {
  background: red;
}
