.main-background {
    background: #717171 !important;
    color: #FFFFFF !important;
}
.ant-layout {
    background-color: #0F1D2E;
}
.total-balance-tag {
    color: rgba(255, 255, 255, 0.5);
}
.total-balance-value {
    color: #FFFFFF;
}
.total-balance-action {
    color: #ffffff;
}
.footer-icons {
    color: #EE7B2F;
    cursor: pointer;
}
.footer-names {
    margin-top: 5px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;

}
.status-tag {
    color: #FFFFFF;
}
.ant-layout-footer {
    background-color: #0F1D2E !important;
}

.recent-activity-topic {
    color: #FFFFFF;
}
.recent-activity-time {
    color: #9395A4;
}
.sending-details {
    background-color: #09111c;
    padding: 15px;
    align-items: flex-start;
    border-radius: 5px;
  }