

:root {
  --background-color: white;
  --primary-color: #ee7b2f;
  --secondary-color: #34a853;
  --navbar-background-light: #ffffff;
  --navbar-background-dark: #212121;
  --navbar-item-background-light: #ffffff;
  --navbar-item-background-dark: #1a1a1a;
}
.App {
  max-width: 1000px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin: auto; /* Ensures centering in the available space */
  overflow: hidden;
}
